/* Global styles 
------------------------------------*/
/* border box fix */
html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-family: 'Times New Roman', sans-serif;
    margin: 0;
    color: cadetblue;
}

a {
    color: red;
}

a:hover {
    text-decoration: none;
    color: white;
}

a:visited {
    text-decoration: underline;
}

h1,
h2 {
    font-family: 'Algerian', cursive;
    font-weight: 400;
}

h1 {
    font-size: 80px;
}

h2 {
    font-size: 40px;
    margin-top: 0;
}

h3 {
    font-family: 'Arial', cursive;
    font-weight: 400;
    font-size: 30px;
    margin: 0;
}

.content-wrap {
    max-width: 1050px;
    margin: 0 auto;
    padding: 60px 50px;
    overflow: hidden;
}

.content-wrap2 {
    max-width: 1050px;
    margin: 0 auto;
    padding: 60px 0px;
    overflow: hidden;
    padding-right: 10%;
    padding-bottom: 20px;
}
.shadow {
    box-shadow: 0px 6px 13px 0px rgba(0,0,0,0.2);
}

.uppercase {
    text-transform: uppercase;
}

.btn {
    text-decoration: none;
    background: red;
    color: black;
    padding: 10px;
    display: inline-block;
    font-family: 'Arial', sans-serif;
}


/* Header & Footer 
------------------------------------*/
.header {
    background: darkcyan;
    color: powderblue;
}
.header2 {
    background: seashell;
    color: powderblue;
}
footer {
    background: Darkcyan;
    color: powderblue;
}

header h1,
header h2 {
    color: #EDF2F4;
    margin: 0;
}


/* Header styles only */
header {
    padding-top: 50px;
    position: relative;
}

.profile-img {
    width: 205px;
    height: 205px;
    border-radius: 50%;
    float: left;
}

.profile-img-small {
    float: left;
    position: fixed;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-left: 50px;
    margin-top: 4px;
}

.download {
    position: absolute;
    bottom: 0;
    right: 0;
}


/* Footer styles only */
footer {
    text-align: center;
    font-family: 'Arial', cursive;
}

.contact-info a {
    padding: 10px;
    display: inline-block;
}


/*navigation
------------------------------------*/
nav {
    text-align: center;
    position: fixed;
    top: 0;
    width: 100%;
}

.nav1 {
    background: darkcyan;
}

nav a {
    display: inline-block;
    padding: 15px 20px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    font-family: 'Arial', sans-serif;
    color: powderblue;
}

nav a:hover {
    background: cadetblue;
}

nav img {
    float: left;
}


.nav2 {
    background: seashell;
    color: darkcyan;
}

.nav2 a {
    color: darkcyan;
}

.nav2 a:hover {
    color: white;
}



/* Work Experience
------------------------------------*/
.work {
    background: seashell;
}

h3 ~ p {
    margin: 0;
}

.job-description p:first-of-type {
    margin-top: 0;
}


/* Education
------------------------------------*/
.education {
    background: seashell;
}

p + h3 {
    margin-top: 30px;
}


/* Hobbies
------------------------------------*/
.hobbies {
    background: linear-gradient(rgba(100, 96, 93, 2.0), rgba(100, 96, 93, 0.3)), url(../images/liquicity.png) no-repeat fixed center;
    background-size: cover;
    margin: 0px;
    color: seashell;
}


.design {
    background: seashell;
}

.visual {
    background: darkcyan;
    color: seashell;
}

.bootcamp {
    background: seashell;
}

.intro {
    background: darkcyan;
    color: seashell;
}

/*Pictures
------------------------------------*/
.pic-left {
    width: 48%;
    box-shadow: 0px 8px 16px 8px rgba(0,0,0,0.2);
}

.pic-right {
    width: 48%;
    float: right;
    box-shadow: 0px 8px 16px 8px rgba(0,0,0,0.2);
}

.pic-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

/* Title background 
------------------------------------*/
.titleBackground {
    text-align: center;
}


.footerText {
    font-family: 'Arial', cursive;
    font-size: 30px;
}


/* Media Queries
------------------------------------*/
@media (min-width: 900px) {

    .column-narrow {
        width: 35%;
        float: left;
        min-height: 150px;
    }

    .column-wide {
        width: 65%;
        float: left;
        min-height: 150px;
        padding-left: 10px;
    }
}

@media (max-width: 899px) {
    header {
        text-align: center;
    }

    .profile-img {
        width: 150px;
        height: 150px;
    }
}