/* Global styles 
------------------------------------*/
/* border box fix */
html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-family: 'Times New Roman', sans-serif;
    margin: 0;
    color: cadetblue;
}

a {
    color: red;
}

a:hover {
    text-decoration: none;
    color: white;
}

h1,
h2 {
    font-family: 'Algerian', cursive;
    font-weight: 400;
}

h1 {
    font-size: 80px;
}

h2 {
    font-size: 40px;
    margin-top: 0;
}

h3 {
    font-family: 'Arial', cursive;
    font-weight: 400;
    font-size: 30px;
    margin: 0;
}

.content-wrap {
    max-width: 850px;
    margin: 0 auto;
    padding: 50px;
    overflow: hidden;
}

.column-narrow {
    width: 30%;
    float: left;
    min-height: 150px;
}

.column-wide {
    width: 70%;
    float: left;
    min-height: 150px;
    padding-left: 10px;
}
.uppercase {
    text-transform: uppercase;
}


/* Header & Footer 
------------------------------------*/
header,
footer {
    background: Darkcyan;
    color: powderblue;
}

header h1,
header h2 {
    color: #EDF2F4;
    margin: 0;
}

/* Header styles only */
header {
    padding-top: 50px;
}

.profile-img {
    width: 205px;
    height: 205px;
    border-radius: 50%;
    float: left;
}

/* Footer styles only */
footer {
    text-align: center;
    font-family: 'Arial', cursive;
}

.contact-info a {
    padding: 10px;
    display: inline-block;
}

/*navigation
------------------------------------*/
nav {
    text-align: center;
    background: darkcyan;
    position: fixed;
    top: 0;
    width: 100%;
}
nav a {
    display: inline-block;
    padding: 15px 20px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    font-family: 'Arial', sans-serif;
    color: powderblue;
}

/* Work Experience
------------------------------------*/
.work {
    background: seashell;
}
h3 ~ p {
    margin: 0;
}
.job-description p:first-of-type {
    margin-top: 0;
}


/* Education
------------------------------------*/
.education {
    background: seashell;
}
p + h3 {
    margin-top: 30px;
}


/* Hobbies
------------------------------------*/
.hobbies {
    background: seashell;
    margin: 0px;
}


/* Title background 
------------------------------------*/
.titleBackground {
    background: seashell;
    text-align: center;
}


.footerText {
    font-family: 'Arial', cursive;
    font-size: 30px;
}
