/* Global styles 
------------------------------------*/
/* border box fix */
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-family: 'Times New Roman', sans-serif;
    margin: 0;
    color: cadetblue;
}
a {
    color: red;
}
a:hover {
    text-decoration: none;
    color: white;
}
h1, h2 {
    font-family: 'Algerian', cursive;
    font-weight: 400;
}
h1 {
    font-size: 80px;
}
h2 {
    font-size: 40px;
    margin-top: 0;
}
h3 {
    font-family: 'Arial', cursive;
    font-weight: 400;
    font-size: 30px;
}

.content-wrap {
    max-width: 950px;
    margin: 0 auto;
    padding: 50px;
    overflow: hidden;
}

.column-narrow {
    width: 30%;
    float: left;
    min-height: 205px;
}
.column-wide {
    width: 70%;
    float: left;
    min-height: 205px;
    padding-left: 10px;
}


/* Header & Footer 
------------------------------------*/
header, 
footer {
    background: Darkcyan;
    color: powderblue;
}
header h1,
header h2 {
    color: #EDF2F4;
    margin: 0;
}

/* Header styles only */
header {
  /*text-align: center;*/
}
.profile-img {
    width: 205px;
    height: 205px;
    border-radius: 50%;
    float: left;
}

/* Footer styles only */
footer {
    text-align: center;
    font-family: 'Arial', cursive;
}
.contact-info a {
    padding: 10px;
    display: inline-block;
}


/* Work Experience
------------------------------------*/
.work {
    background: seashell;
}


/* Education
------------------------------------*/
.education {
    background: seashell;
}


/* Hobbies
------------------------------------*/
.hobbies {
    background: seashell;
    margin: 0px;
}


/* Title background 
------------------------------------*/
.titleBackground {
    background: seashell;
    text-align: center;
}


.footerText {
    font-family: 'Arial', cursive;
    font-size: 30px;
}

